@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html{
    --font-bold: 'Archivo Black', sans-serif;
    --fonte-normal: 'Amiko', sans-serif;

    --bg-body: #ffffff;
    --bg-login: #ffffff;
    --text-color: #404040;
    --text-placeholder: #717171;
    --bg-placeholder: #f0f0f0;
    --linear1: #1A58A0;
    --linear2: #77DEEC;
    --data-color: #717171;
    --outline-color: #648dff;
    --input-focus: #cecece;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
}


/* CONTAINER PRINCIPAL */
.caixa{
    position: relative;
    display: flex;
    width: 80%;
    box-shadow: 5px 5px 10px #0909095e;
    border-radius: 10px;
    overflow: hidden;
    color: var(--text-color);
}

/* Estilizando o lado esquerdo */
.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #373737;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    height: 26px;
    margin: 10px;
    width: 50px;
    top: 0;
    transform: scale(1.0);
}

.label .ball{
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: 0.3s;
}

.checkbox:checked + .label .ball{
    transform: translate(24px);
}

.fa-moon, .fa-sun{
    color: #f1c40f;
}

.left-side{
    width: 50%;
    text-shadow: 1px 6px 13px #00000054;
    background-image: linear-gradient(to bottom, var(--linear1), var(--linear2));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CentrLetra{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.CentrLetra h1{
    font-family: var(--font-bold);
}

.CentrLetra h2{
    font-size: 14px;
    font-weight: 200;
    font-family: var(--fonte-normal);
    margin: 15px 0px;
}

.login{
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--fonte-normal);
    border-style: solid;
    border-color: white;
    color: white;
    padding: 5px 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    border-width: 2px;
}

.login:hover{
    color: black;
    background-color: white;
}

/* Estilizando lado direito */
.inputs{
    font-family: var(--fonte-normal);
    width: 50%;
    padding: 25px;
    background-color: var(--bg-login);
}

.formulario{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caixaInput{
    margin-bottom: 10px;
    position: relative;
}

.caixaInput label{
    display: block;
}

.caixaInput input{
    width: 220px;
    margin: 0.2rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 20px;
    background-color: var(--bg-placeholder);
    font-weight: 600;
    color: var(--data-color);
}

.caixaInput small{
    display: block;
    font-weight: normal;
    font-size: 10px;
    padding: 3px 0;
    visibility: hidden;
}

.caixaInput input:focus{
    background-color: var(--input-focus);

}

.caixaInput input::placeholder{
    color: var(--text-placehold);
    font-family: var(--fonte-normal);
}

.caixaGenero h6{
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
}

.boxInputs{
    display: flex;
}

.generoInput{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.generoInput input{
    margin-right: 0.3rem;
}

.botaoContinuar{
    margin: 0px auto;
}

.botaoContinuar button{
    background-color: #003459;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 40px;
    width: 300px;
}

.botaoContinuar a{
    font-family: var(--fonte-normal);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1250px){
    .left-side{
        display: none;
    }

    .caixa{
        align-items: center;
    }

    .caixaInput {
        margin: 10px auto;
        align-items: center;
        position: relative;
    }

    .caixaGenero{
        padding: 0 250px;
        margin: 0 auto;
    }

    .inputs{
        width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .formulario{
        align-items: center;
        justify-content: center;
    }

    .caixaInput{
        margin: 10px auto;
        align-items: center;
        position: relative;
    }

    .label{
        top: 0;
    }
}
/* Menor ---------------------------- */
@media screen and (max-width: 580px) {
    .caixa{
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .inputs{
        height: auto;
    }
}

@media screen and (max-width: 455px){
    body{
        height: 100%;
    }
}