@font-face {
    font-family: 'Amiko';
    src: url('../fontes/Amiko/Amiko-Regular.ttf');

    font-family: 'Archivo Black';
    src: url('../fontes/ArchivoBlack/ArchivoBlack-Regular.ttf');
}

html{
    --font-bold: 'Archivo Black', sans-serif;
    --fonte-normal: 'Amiko', sans-serif;

    --bg-body: #ffffff;
    --bg-login: #ffffff;
    --text-color: #404040;
    --text-placeholder: #b1b1b1;
    --bg-placeholder: #f0f0f0;
    --linear1: #1A58A0;
    --linear2: #77DEEC;
    --input-focus: #dadada;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-color: var(--bg-body);
}

.caixa{
    display: flex;
    box-shadow: 5px 5px 15px #0909095e;
    border-radius: 10px;
    width: 70%;
    overflow: hidden;
}

/* Toggle modo escuro */
.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #373737;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    height: 26px;
    margin: 10px;
    width: 50px;
    transform: scale(1.0);
}

.label .ball{
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: 0.3s;
}

.checkbox:checked + .label .ball{
    transform: translate(24px);
}

.fa-moon, .fa-sun{
    color: #f1c40f;
}


/* Lado-direito */
.right-side{
    width: 50%;
    font-size: 18px;
}

.CentrLetra{
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 6px 13px #00000054;
    background-image: linear-gradient(to bottom, var(--linear1), var(--linear2));;
    align-items: center;
    height: 100%;
}

.CentrLetra h1{
    font-family: var(--font-bold);
    text-transform: uppercase;
}

.CentrLetra h2{
    text-transform: uppercase;
    font-size: 15px;
    margin: 15px 0px;
}

.cadastre{
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--fonte-normal);
    border-style: solid;
    border-color: white;
    color: white;
    padding: 6px 30px;
    font-size: 16px;

    border-width: 2px;
    text-decoration: none;
}

.cadastre:hover{
    color: black;
    background-color: white;
}


/* Lado esquerdo */
.logoModavo{
    width: 35vh;
    margin-right: 20px;
}

.formulario{
    width: 100%;
    color: var(--text-color)
}

.inputs{
    font-family: var(--fonte-normal);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-login);
    padding: 25px;
    justify-content: center;
}

.inputCheck{
    font-family: Arial, Helvetica, sans-serif;
}

.inputs-login{
    margin: 30px 0px;
}

.caixaInput{
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 700;
}

.caixaInput:nth-child(2){
    margin: 10px 0px;
}

.caixaInput label{
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.caixaInput input{
    width: 100%;
    margin: 0.2rem 0;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: var(--bg-placeholder);
    color: var(--text-color);
}


.caixaInput input:focus{
    background-color: var(--input-focus);
    transition: 0.5s;
}

.caixaInput input::placeholder{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--fonte-normal);
    color: var(--text-placeholder)
}

.below{
    display: flex;
    justify-content: space-between;
}

.below a{
    color: var(--text)
}

.botaoC{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botaoConfirmar{
    color: white;
    background-color: #00375f;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    padding: 10px 40px;
    width: 300px;
    transition: 0.3s;
}

.botaoConfirmar:hover{
    background-color: #061a29;
}

.cadastre-respon{
    display: none;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


.cadastre-respon p{
    margin-bottom: 0;
    color: var(--text-color);
}

@media screen and (max-width: 1200px) {
    .modoEscuro{
        display: none;
    }


    .logoModavo{
        width: 80%;
    }


    .right-side{
        display: none;
    }

    .caixa{
        width: 400px;
        height: auto;
        align-items: center;
    }

    .inputs{
        width: 100%;
        justify-content: space-around;
    }

    .cadastre-respon{
        display: block;
        justify-content: space-between;
    }

}

@media screen and (max-width: 550px) {
    .caixa{
        width: 100%;
        height: 100%;
    }

    .inputs{
        padding: 15px;
    }

    .below {
        font-size: 15px;
    }
}

